In [117]:
# Import Dependencies
import pandas as pd

In [118]:
# Reference to CSV file
csv_path = "Resources/HeroesOfPymoli_data.csv"

# Read Heroes of Pymoli data and store into Pandas data frame
Heroes_df = pd.read_csv(csv_path)
Heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [119]:
# Removing duplicate players
players_df = Heroes_df.drop_duplicates(subset=["SN"])

# Counting up the total players
total_players_count = players_df.shape[0]

mini_summary_df = pd.DataFrame({"Total Players": [total_players_count]})

mini_summary_df

   Total Players
0            576

In [120]:
# Finding the number of unique items
number_unique_items = len(Heroes_df["Item ID"].unique())

# Calculating the average price
average_price = Heroes_df["Price"].mean()


# Finding the number of purchases
number_purchases = len(Heroes_df["Purchase ID"])

# Calculating the total revenue
total_revenue = Heroes_df["Price"].sum()

In [121]:
# Created Summary for Purchasing Analysis(Total) in new DataFrame
summary_df = pd.DataFrame({"Number of Unique Items": [number_unique_items],
                              "Average Price": [average_price],
                              "Number of Purchases": [number_purchases],
                              "Total Revenue": [total_revenue]})

# Used Map to format the Average Price and Total Revenue columns
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,}".format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [122]:
# Count of Gender Demographics
total_gender_count = players_df["Gender"].value_counts()
total_gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [123]:
# Count of Percentages per Gender Demographics
total_percentage_players = players_df["Gender"].value_counts(normalize=True)

# Times the percentage by 100
percentage_players = total_percentage_players * 100
percentage_players

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [124]:
# Created Summary for Percentages and Counts per Gender Demographics in new DataFrame
gender_demographics_summary_df = pd.DataFrame({"Total Count": total_gender_count,
                                      "Percentage of Players": percentage_players})

# Used Map to format Percentage of Players column
gender_demographics_summary_df["Percentage of Players"] = gender_demographics_summary_df["Percentage of Players"].map("{:.2f}%".format)

gender_demographics_summary_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [125]:
# Group by gender from the Heroes DataFrame
grouped_gender_df = Heroes_df.groupby(["Gender"])

# Used calculations 
purchase_count = grouped_gender_df["Purchase ID"].count()

average_purchase = grouped_gender_df["Price"].mean()

total_purchase = grouped_gender_df["Price"].sum()

avg_total_purchase_person = total_purchase/total_gender_count

# Created Summary for Purchasing Analysis (Gender)
purchasing_analysis_summary_df = pd.DataFrame({"Purchase Count": purchase_count,
                                              "Average Purchase Price": average_purchase,
                                              "Total Purchase Value": total_purchase,
                                              "Avg Total Purchase per Person": avg_total_purchase_person})

# Used Map to format three columns
purchasing_analysis_summary_df["Average Purchase Price"] = purchasing_analysis_summary_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_summary_df["Total Purchase Value"] = purchasing_analysis_summary_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_summary_df["Avg Total Purchase per Person"] = purchasing_analysis_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)



purchasing_analysis_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [126]:
# Created bins where data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Created the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [127]:
# Sliced the data, placed it into bins, and placed the data series into a new column inside the players DataFrame
players_df["Age Group"] = pd.cut(players_df["Age"], bins, labels=group_names)

# Group by Age Group from the players DataFrame 
players_group = players_df.groupby("Age Group")

# Used Calculations
total_count = players_group["Age"].count()

percentage_of_players = total_count/total_players_count * 100

# Created Summary for Age Demographics
age_demographics_summary_df = pd.DataFrame({"Total Count": total_count,
                                           "Percentage of Players": percentage_of_players})

# Used Map to format the Percentage of Players column
age_demographics_summary_df["Percentage of Players"] = age_demographics_summary_df["Percentage of Players"].map("{:.2f}%".format)

age_demographics_summary_df

C:\Users\edwin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%