In [39]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import scipy.stats as sem
import numpy as np

# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
merge_data = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
merge_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [40]:
# Checking the number of mice
total_mouse = len(merge_data["Mouse ID"].unique())
print(total_mouse)

249

In [41]:
# 
mouse_duplicates = merge_data.loc[merge_data.duplicated(subset=["Mouse ID", "Timepoint"]), "Mouse ID"].unique()

clean_data = merge_data[merge_data["Mouse ID"].isin(mouse_duplicates) == False]

clean_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [42]:
# Check the number of mice again
total_clean_mouse = len(clean_data["Mouse ID"].unique())
print(total_clean_mouse)

248

In [55]:
grouped_drug = clean_data.groupby('Drug Regimen')

average_tumor = grouped_drug['Tumor Volume (mm3)'].mean()

median_tumor = grouped_drug['Tumor Volume (mm3)'].median()

variance_tumor = grouped_drug.var()['Tumor Volume (mm3)']

standard_deviation_tumor = grouped_drug.std()['Tumor Volume (mm3)']

standard_error_mean = grouped_drug.sem()['Tumor Volume (mm3)']
                          
summary_df = pd.DataFrame({"Average Tumor": average_tumor,
                          "Median Tumor": median_tumor,
                          "Variance Tumor": variance_tumor,
                          "Standard Deviation of Tumor": standard_deviation_tumor,
                          "Standard Error of the Mean": standard_error_mean})

# map
summary_df["Average Tumor"] = summary_df["Average Tumor"].map("{:.2f}".format) 
summary_df["Median Tumor"] = summary_df["Median Tumor"].map("{:.2f}".format)
summary_df["Variance Tumor"] = summary_df["Variance Tumor"].map("{:.2f}".format)
summary_df["Standard Deviation of Tumor"] = summary_df["Standard Deviation of Tumor"].map("{:.2f}".format)
summary_df["Standard Error of the Mean"] = summary_df["Standard Error of the Mean"].map("{:.2f}".format)

summary_df

,Average Tumor,Median Tumor,Variance Tumor,Standard Deviation of Tumor,Standard Error of the Mean
Drug Regimen,,,,,
Capomulin,40.68,41.56,24.95,4.99,0.33
Ceftamin,52.59,51.78,39.29,6.27,0.47
Infubinol,52.88,51.82,43.13,6.57,0.49
Ketapril,55.24,53.70,68.55,8.28,0.60
Naftisol,54.33,52.51,66.17,8.13,0.60
Placebo,54.03,52.29,61.17,7.82,0.58
Propriva,52.32,50.45,43.85,6.62,0.54
Ramicane,40.22,40.67,23.49,4.85,0.32
Stelasyn,54.23,52.43,59.45,7.71,0.57
Zoniferol,53.24,51.82,48.53,6.97,0.52