In [8]:
# Dependencies and Setpu
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API Key
from config import g_key

gmaps.configure(api_key=g_key)

In [9]:
csv_path = "../WeatherPy/CSV Data/weather_city_data.csv"
city_weather_data = pd.read_csv(csv_path)
city_weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Khovd,48.01,91.64,42.60,56,0,6.89,MN,1603074775
1,Chardara,41.25,67.97,55.71,37,0,7.72,KZ,1603074907
2,Koumac,-20.57,164.28,78.17,56,3,8.79,NC,1603074907
3,Rikitea,-23.12,-134.97,74.70,81,100,18.66,PF,1603074908
4,Chui,-33.70,-53.46,62.53,86,0,6.55,UY,1603074908

In [10]:
humidity = city_weather_data["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = city_weather_data[["Lat", "Lng"]]

In [12]:
fig = gmaps.figure()
heat_humidity_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=maxhumidity, point_radius=3)
fig.add_layer(heat_humidity_layer)
fig

Figure(layout=FigureLayout(height='420px'))